[Unit]
Description=SmartMower Supervisor
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=root
Group=root
ExecStart=/opt/smartmower/bin/supervisor_node
Restart=always
RestartSec=2
Environment=SMARTMOWER_CONFIG=/opt/smartmower/etc/config/robot_config.json

[Install]
WantedBy=multi-user.target
