[Unit]
Description=SmartMower Vision Camera Service
After=network.target mosquitto.service

[Service]
Type=simple
User=root
WorkingDirectory=/opt/smartmower/bin
ExecStart=/opt/smartmower/bin/vision_camera
Restart=always
RestartSec=5s
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=vision_camera

# Configurazione specifica per la telecamera
Environment="LD_PRELOAD=/usr/lib/arm-linux-gnueabihf/libv4l/v4l1compat.so"
Environment="LIBCAMERA_LOG_LEVELS=0"

[Install]
WantedBy=multi-user.target
