<?xml version="1.0"?>
<robot name="mower_gz" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!-- Include il modello del robot (geometria, giunti, sensori) -->
  <xacro:include filename="mower.urdf.xacro"/>
  <!-- Aggiunge i plugin di controllo e sensori per gz -->
  <xacro:include filename="gz_control.xacro"/>
</robot>
